// 潛水知識
.header__knowledge {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  background-image: url('/assets/images/iamge02.jpg');
  background-position: center;
  background-size: fixed;
  background-size: cover;
}

.headerTitle__knowledge {
  margin-bottom: 1rem;
  color:$color_text-color;
  font-size: 2.5rem;
  text-shadow: 0.1em 0.1em 0.2em black
}

.headerContainer__knowledge{
  max-width: 600px;
  color: $color_text-color;
  text-align: center;
}



// 潛水旅遊
.header__travel {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  background-image: url('/assets/images/image03.jpg');
  background-position: center;
  background-size: fixed;
  background-size: cover;
}

.headerTitle__travel {
  margin-bottom: 1rem;
  color:$color_text-color;
  font-size: 2.5rem;
  text-shadow: 0.1em 0.1em 0.2em black
}

.headerContainer__travel{
  max-width: 600px;
  color: $color_text-color;
  text-align: center;
}
