.ham {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: rgba(0,0,0,.5);
  display: block;
  position: fixed;
	z-index: 1;
}

.ham-origin {
  position: absolute;
  top: 50%;
  left: 50%;
}

.ham-bar {
  height: 2px;
  width: 26px;
  position: absolute;
  background: white;
  margin: -1px 0 0 -13px;
  transition: all .5s;
}

.ham-bar--top {
  transform: translateY(-6px);
}

.ham-bar--bottom {
  transform: translateY(6px);
}

#nav-toggle {
  display: none;
}

#nav-toggle:checked ~ .ham .ham-bar--middle {
  opacity: 0;
}

#nav-toggle:checked ~ .ham .ham-bar--top {
  transform: rotate(-45deg);
}

#nav-toggle:checked ~ .ham .ham-bar--bottom {
  transform: rotate(55deg);
}

/* Nav Style */

.menu {
	width: 100%;
	height: 100%;
  position:fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 30px;
  background: rgba(0, 0, 0, .8);
  /* 用 translate 把選單藏到畫面右邊去 */
  transform: translateX(100%);
  transition: transform .5s;
}

#nav-toggle:checked ~ .menu {
  transform: none;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item + .menu-item {
  margin-top: 10px;
}

.menu-link {
align-items: center;
	font-size: 1.5rem;
  margin-top: 50%;
  margin-left: 50%;
  text-decoration: none;
  color: white;
}






.navbar {
	position: fixed;
	background-color: #002059 ;
	height: 20vh;

	opacity: 50%;
	// background-image: url('/assets/images/navbar.jpg');
  background-size: cover;
z-index: 100;
display: flex;
align-items: center;
justify-content: space-between;
// margin: 25px 10%;
width:100%;
}

.navbar a{
	color:rgb(255, 255, 255);
	text-decoration: none;
	margin-left: 1rem;
}

.navbar__logo{
	font-weight: bold;

}

.navbar__link{
	list-style: none;
	display:inline-flex;
	flex:1;
	justify-content: flex-end;

}
