@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300;400&family=Noto+Sans+TC:wght@300;400;500;700&display=swap");
.ham {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: fixed;
  z-index: 1;
}

.ham-origin {
  position: absolute;
  top: 50%;
  left: 50%;
}

.ham-bar {
  height: 2px;
  width: 26px;
  position: absolute;
  background: white;
  margin: -1px 0 0 -13px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.ham-bar--top {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.ham-bar--bottom {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

#nav-toggle {
  display: none;
}

#nav-toggle:checked ~ .ham .ham-bar--middle {
  opacity: 0;
}

#nav-toggle:checked ~ .ham .ham-bar--top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#nav-toggle:checked ~ .ham .ham-bar--bottom {
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}

/* Nav Style */
.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 30px;
  background: rgba(0, 0, 0, 0.8);
  /* 用 translate 把選單藏到畫面右邊去 */
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#nav-toggle:checked ~ .menu {
  -webkit-transform: none;
          transform: none;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item + .menu-item {
  margin-top: 10px;
}

.menu-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  margin-top: 50%;
  margin-left: 50%;
  text-decoration: none;
  color: white;
}

.navbar {
  position: fixed;
  background-color: #002059;
  height: 20vh;
  opacity: 50%;
  background-size: cover;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

.navbar__logo {
  font-weight: bold;
}

.navbar__link {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  height: 100%;
  color: #d5d5d5;
  background: rgba(241, 241, 241, 0.819);
  background-repeat: no-repeat;
}

.bannerContainer {
  line-height: 1.5rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1280px;
  height: 100%;
  margin-left: 30px;
}

.banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(105deg, #2e4051 50%, transparent 50%) center center/100% 100%, url("/assets/images/iamge01.jpg") right center/auto 100%;
}

.bannerText {
  max-width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bannerText h1 {
  font-size: 50px;
  border-bottom: 1px solid #000;
}

.bannerText h1 small {
  display: block;
}

.bannerText h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.bannerText p {
  font-size: 16px;
}

.banner2 {
  width: 100%;
  height: 100vh;
  background: url("/assets/images/iamge04.jpg") right center/auto 100%;
  background-size: cover;
}

.bannerText2 {
  max-width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bannerText2 h1 {
  font-size: 50px;
  border-bottom: 1px solid #000;
}

.bannerText2 h1 small {
  display: block;
}

.bannerText2 h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

.bannerText2 p {
  font-size: 16px;
}

.wrap {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item .pic {
  width: 100%;
  margin-left: -30px;
  margin-top: 10px;
}

.item .pic img {
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.item .text {
  width: 100vh;
  margin-top: 10px;
  margin-right: 30px;
  padding: 20px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item .text h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #0987ad;
}

.item .text p {
  color: #444;
  font-size: 14px;
  line-height: 1.5;
}

.item .text .btn {
  line-height: 1.5em;
  border: 1px solid #0987ad;
  padding: 0 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-decoration: none;
  border-radius: 100px;
  color: #0987ad;
  margin-top: auto;
}

.item .text .btn:hover {
  background-color: #0987ad;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header {
  /* 定義本區塊為彈性容器 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* 定義彈性容器內副軸至中 */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 定義彈性容器內為直列顯示 */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* 定義彈性容器內主軸至中 */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* 設定本容器的高度，vh 為視窗的高度 */
  height: 80vh;
  /* 定義背景圖片，這邊使用連結方式引入 images 內的圖檔 */
  background-image: url("/assets/images/iamge02.jpg");
  /* 背景的定位方式進行至中處理 */
  background-position: center;
  /*固定背景*/
  background-size: fixed;
  /* 背景尺寸採用自動滿版的模式 */
  background-size: cover;
}

.header__title {
  /* 單獨設定區塊靠下的行距 */
  margin-bottom: 1rem;
  /* 定義內容文字顏色 */
  color: #eeeeee;
  /* 設定文字大小 rem 代表當下 html 設定的 px */
  font-size: 2.5rem;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.header__container {
  /* 設定本區塊的寬度最多為 600px */
  max-width: 600px;
  /* 定義內容文字顏色 */
  color: #eeeeee;
  /* 設定內容文字顯示方式，center 為至中顯示 */
  text-align: center;
}

* {
  font-family: 'Exo', sans-serif;
  font-family: 'Noto Sans TC', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-container {
  background-color: #396c54;
  padding: 4rem 0rem 4rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerbox1 {
  color: beige;
  width: 80%;
  height: 20vh;
  background-color: #396c54;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.footerbox2 {
  color: beige;
  width: 80%;
  height: 15vh;
  background-color: #396c54;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
}

.footer-heading a {
  color: beige;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 5rem;
}

img {
  margin-bottom: 3rem;
}

.footer-heading span {
  margin-bottom: 0.5rem;
}

.footer-heading i {
  margin-right: 0.3rem;
}
/*# sourceMappingURL=style.css.map */