@charset "UTF-8";
.ham {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: fixed;
  z-index: 1;
}

.ham-origin {
  position: absolute;
  top: 50%;
  left: 50%;
}

.ham-bar {
  height: 2px;
  width: 26px;
  position: absolute;
  background: white;
  margin: -1px 0 0 -13px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.ham-bar--top {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.ham-bar--bottom {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

#nav-toggle {
  display: none;
}

#nav-toggle:checked ~ .ham .ham-bar--middle {
  opacity: 0;
}

#nav-toggle:checked ~ .ham .ham-bar--top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#nav-toggle:checked ~ .ham .ham-bar--bottom {
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}

/* Nav Style */
.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 30px;
  background: rgba(0, 0, 0, 0.8);
  /* 用 translate 把選單藏到畫面右邊去 */
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#nav-toggle:checked ~ .menu {
  -webkit-transform: none;
          transform: none;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item + .menu-item {
  margin-top: 10px;
}

.menu-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  margin-top: 50%;
  margin-left: 50%;
  text-decoration: none;
  color: white;
}

.navbar {
  position: fixed;
  background-color: #002059;
  height: 20vh;
  opacity: 50%;
  background-size: cover;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

.navbar__logo {
  font-weight: bold;
}

.navbar__link {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  width: 100vw;
  height: 100%;
  color: #e7e7e7;
  background: rgba(241, 241, 241, 0.819);
  background-repeat: no-repeat;
}

.banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(105deg, #2e4051 50%, transparent 50%) center center/100% 100%, url("/assets/images/iamge01.jpg") right center/auto 100%;
  background-size: auto;
}

h1 {
  color: #e7e7e7;
  font-size: 30px;
  margin-bottom: 20px;
}

.bannerContainer {
  line-height: 1.5rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1280px;
  height: 100%;
  margin-left: 30px;
}

.bannerText {
  max-width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
}

.banner2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
  background: url("/assets/images/iamge04.jpg") right center/auto 100%;
  background-size: cover;
}

.banner3 {
  width: 100%;
  height: 70vh;
  background-color: #e7e7e7;
}

.bannerText2 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bannerText2 h2 {
  text-align: center;
  color: #214C77;
  font-size: 30px;
  margin-bottom: 20px;
}

.bannerText2 p {
  text-align: center;
  color: #092435;
  font-size: 16px;
}

.wrap {
  width: 100%;
  display: block;
}

.item {
  display: inline-block;
  height: auto;
  width: 33%;
  margin: 0;
  position: relative;
}

.item:hover .content {
  opacity: 1;
}

.item:hover h2::after {
  width: 100%;
}

.item img {
  vertical-align: middle;
  max-width: 100%;
  margin: auto;
  height: 100%;
}

.item .content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 50px;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  cursor: pointer;
}

.item h2 {
  color: #e7e7e7;
  font-size: 30px;
}

.item h2::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin: 5px 0;
  background-color: #e7e7e7;
  -webkit-transition: width 0.5s 0.3s;
  transition: width 0.5s 0.3s;
}

.item p {
  color: #e7e7e7;
  padding: 5px 0;
  font-size: 18px;
}

.map {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/images/map-02.jpg);
  background-size: cover;
}

.wrap {
  text-align: center;
  padding-top: 26%;
  padding-left: 5%;
}

.btn {
  background-color: #214C77;
  text-decoration: none;
  color: #e7e7e7;
  padding: 8px;
  border-radius: 5px;
}

.popup-wrap {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  content: '';
  background: rgba(0, 0, 0, 0.85);
}

.popup-box {
  width: 100%;
  height: 100%;
  padding: 50px 75px;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  background: #fff;
  text-align: center;
}

h2 {
  font-size: 42px;
  color: #1a1a1a;
}

h3 {
  font-size: 34px;
  color: #888;
}

.close-btn {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  background: #d75f70;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  line-height: 40px;
  font-size: 32px;
}

.transform-in, .transform-out {
  display: block;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.transform-in {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.transform-out {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
}

.header__knowledge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
  background-image: url("/assets/images/iamge02.jpg");
  background-position: center;
  background-size: fixed;
  background-size: cover;
}

.headerTitle__knowledge {
  margin-bottom: 1rem;
  color: #e7e7e7;
  font-size: 2.5rem;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.headerContainer__knowledge {
  max-width: 600px;
  color: #e7e7e7;
  text-align: center;
}

.header__travel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
  background-image: url("/assets/images/image03.jpg");
  background-position: center;
  background-size: fixed;
  background-size: cover;
}

.headerTitle__travel {
  margin-bottom: 1rem;
  color: #e7e7e7;
  font-size: 2.5rem;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.headerContainer__travel {
  max-width: 600px;
  color: #e7e7e7;
  text-align: center;
}

* {
  font-family: 'Exo', sans-serif;
  font-family: 'Noto Sans TC', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-container {
  background-color: #27647c;
  padding: 4rem 0rem 4rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerbox1 {
  color: #e7e7e7;
  width: 80%;
  height: 20vh;
  background-color: #27647c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.footerbox2 {
  color: #e7e7e7;
  width: 80%;
  height: 15vh;
  background-color: #27647c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
}

.footer-heading a {
  color: #e7e7e7;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 5rem;
}

img {
  margin-bottom: 3rem;
}

.footer-heading span {
  margin-bottom: 0.5rem;
}

.footer-heading i {
  margin-right: 0.3rem;
}
/*# sourceMappingURL=style.css.map */