@charset "UTF-8";
.ham {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: fixed;
  z-index: 1;
}

.ham-origin {
  position: absolute;
  top: 50%;
  left: 50%;
}

.ham-bar {
  height: 2px;
  width: 26px;
  position: absolute;
  background: #ffffff;
  margin: -1px 0 0 -13px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.ham-bar--top {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.ham-bar--bottom {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

#nav-toggle {
  display: none;
}

#nav-toggle:checked ~ .ham .ham-bar--middle {
  opacity: 0;
}

#nav-toggle:checked ~ .ham .ham-bar--top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#nav-toggle:checked ~ .ham .ham-bar--bottom {
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}

/* Nav Style */
.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 30px;
  background: rgba(0, 0, 0, 0.8);
  /* 用 translate 把選單藏到畫面右邊去 */
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  z-index: 1;
}

#nav-toggle:checked ~ .menu {
  -webkit-transform: none;
          transform: none;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item + .menu-item {
  margin-top: 10px;
}

.menu-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  margin-top: 50%;
  margin-left: 50%;
  text-decoration: none;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.banner__knowledge {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: linear-gradient(105deg, #2e4051 50%, transparent 50%) center center/0% 100%, url("/assets/images/iamge01__knowledge.jpg") right center/auto 100%;
  background-size: auto;
}

.bannertitle__knowledge {
  color: #e7e7e7;
  padding: 30px;
  font-size: 3rem;
  margin-left: 30px;
}

.bannertext__knowledge {
  color: #e7e7e7;
  margin-top: 1rem;
  font-size: 1rem;
  max-width: 40%;
  height: 100%;
  line-height: 1.5rem;
}

.banner2__knowledge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100vh;
  background: url("/assets/images/iamge04__knowledge.jpg") right center/auto 100%;
  background-size: cover;
}

.bannertitle2__knowledge {
  color: #e7e7e7;
  padding: 30px;
  font-size: 3rem;
  margin-left: 30px;
  max-width: 45%;
  line-height: 3.5rem;
}

.bannertext2__knowledge {
  color: #e7e7e7;
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  height: 100%;
}

.banner3__knowledge {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #e7e7e7;
}

.bannertitle3__knowledge {
  color: #214c77;
  font-size: 3rem;
  margin-left: 30px;
}

.bannertext3__knowledge {
  color: #214c77;
  margin-top: 1rem;
  font-size: 1rem;
  height: 100%;
  line-height: 1.5rem;
}

.wrap__knowledge {
  background-color: #e7e7e7;
  width: 100%;
  margin: 0;
}

.item__knowledge {
  display: inline-block;
  height: auto;
  width: 33%;
  margin: 0;
  position: relative;
}

.item__knowledge:hover .content__knowledge {
  opacity: 1;
}

.item__knowledge:hover h9::after {
  width: 100%;
}

.item__knowledge img {
  vertical-align: middle;
  max-width: 100%;
  margin: auto;
  height: 100%;
}

.item__knowledge .content__knowledge {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 25px;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  cursor: pointer;
}

.item__knowledge h9 {
  color: #cef0f9;
  font-size: 1.8rem;
}

.item__knowledge h9::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin: 5px 0;
  background-color: #cef0f9;
  -webkit-transition: width 0.5s 0.3s;
  transition: width 0.5s 0.3s;
}

.item__knowledge p {
  color: #cef0f9;
  padding: 20px 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

.map__travel {
  width: 100%;
  height: 100vh;
  background-color: #23989B;
  background-image: url(/assets/images/map-01.png);
  background-size: cover;
}

.mapbut2__travel {
  width: 80%;
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.h8 {
  font-size: 2rem;
}

.button__travel {
  outline: 0;
  border: 0;
  padding: .5em 2em;
  cursor: pointer;
  color: #fff;
  background-color: #214c77;
  border-radius: 20px;
}

.modal {
  width: 80%;
  height: 90%;
  padding: 30px;
  color: #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  display: block;
}

.modal .modal-close {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  background: #d75f70;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.is-hide {
  display: none;
}

.button2__travel {
  outline: 0;
  border: 0;
  padding: .5em 2em;
  cursor: pointer;
  color: #fff;
  background-color: #214c77;
  border-radius: 20px;
}

.modal2 {
  width: 80%;
  height: 90%;
  padding: 30px;
  color: #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal2 iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  display: block;
}

.modal2 .modal2-close {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  background: #d75f70;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.is2-hide {
  display: none;
}

.button3__travel {
  outline: 0;
  border: 0;
  padding: .5em 2em;
  cursor: pointer;
  color: #fff;
  background-color: #214c77;
  border-radius: 20px;
}

.modal3 {
  width: 80%;
  height: 90%;
  padding: 30px;
  color: #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal3 iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  display: block;
}

.modal3 .modal3-close {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  background: #d75f70;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.is3-hide {
  display: none;
}

.button4__travel {
  outline: 0;
  border: 0;
  padding: .5em 2em;
  cursor: pointer;
  color: #fff;
  background-color: #214c77;
  border-radius: 20px;
}

.modal4 {
  width: 80%;
  height: 90%;
  padding: 30px;
  color: #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal4 iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  display: block;
}

.modal4 .modal4-close {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  background: #d75f70;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.is4-hide {
  display: none;
}

.button5__travel {
  outline: 0;
  border: 0;
  padding: .5em 2em;
  cursor: pointer;
  color: #fff;
  background-color: #214c77;
  border-radius: 20px;
}

.modal5 {
  width: 80%;
  height: 90%;
  padding: 30px;
  color: #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal5 iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  display: block;
}

.modal5 .modal5-close {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  background: #d75f70;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.is5-hide {
  display: none;
}

.button6__travel {
  outline: 0;
  border: 0;
  padding: .5em 2em;
  cursor: pointer;
  color: #fff;
  background-color: #214c77;
  border-radius: 20px;
}

.modal6 {
  width: 80%;
  height: 90%;
  padding: 30px;
  color: #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal6 iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  display: block;
}

.modal6 .modal6-close {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  background: #d75f70;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.is6-hide {
  display: none;
}

.header__knowledge {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-image: url("/assets/images/iamge02__knowledge.jpg");
  background-position: center;
  background-size: fixed;
  background-size: cover;
}

.headertitle__knowledge {
  margin-bottom: 1rem;
  color: #e7e7e7;
  font-size: 3rem;
  text-shadow: 0.1em 0.1em 0.5em rgba(29, 29, 34, 0.822);
}

.headercontainer__knowledge {
  max-width: 600px;
  color: #e7e7e7;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em rgba(29, 29, 34, 0.822);
}

.header__travel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-image: url("/assets/images/image03__knowledge.jpg");
  background-position: center;
  background-size: fixed;
  background-size: cover;
}

.headertitle__travel {
  margin-bottom: 1rem;
  color: #e7e7e7;
  font-size: 3rem;
  text-shadow: 0.1em 0.1em 0.5em rgba(29, 29, 34, 0.822);
}

.headercontainer__travel {
  font-size: 1.2rem;
  max-width: 600px;
  color: #e7e7e7;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em rgba(29, 29, 34, 0.822);
}

* {
  font-family: 'Exo', sans-serif;
  font-family: 'Noto Sans TC', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-container {
  background-color: #214c77;
  padding: 4rem 0rem 4rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerbox1 {
  color: #000612;
  width: 80%;
  height: 20vh;
  background-color: #214c77;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.footerbox2 {
  color: #000612;
  width: 80%;
  height: 15vh;
  background-color: #214c77;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
}

.footer-heading a {
  color: #000612;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 5rem;
}

img {
  margin-bottom: 3rem;
}

.footer-heading span {
  margin-bottom: 0.5rem;
}

.footer-heading i {
  margin-right: 0.3rem;
}
/*# sourceMappingURL=style.css.map */