$color_white:#ffffff;
$color_black:#000000;

// 主色，強調色
$color_accent:#214c77;

// 輔助色
$color_auxiliary--light:#cef0f9;
$color_auxiliary--green:#3e877c;
$color_auxiliary--dark:#092435;

$color_text-color:#000612;
$color_text-colorwhite:#e7e7e7;
