
$color_white:#FFFFFF;
$color_black:#000000;

// 強調色
$color_accent: #27647c;
// 輔助色
$color_auxiliary:#3E6588;
// 主色
$color_primary: #214C77;

// 文字顏色
$color_text-color:#e7e7e7;
$color_text-color_dark:#092435;
